*{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.wrapper{
    transform-style: preserve-3d;
    perspective: 800px;
    width: 641px;
    height: 215px;
    position: relative;
    margin: 200px auto;
}

img{
    width: 641px;
    border-radius: 8px;
    height: 215px;
    position: absolute;
    transition: all .8s;
}